*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #000;
}

.general{
    width: 86%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
}
header{
    color: rgb(255, 230, 0);
    margin: 20px 0 15px 0;
    display: flex;
    justify-content: center;
    padding: 10px 0 15px 0;
    font-family: 'Potta One', cursive;
    font-size: 10%px;
    border-radius: 10px;
    border-bottom: 3px dashed rgb(255, 230, 0);
}

#lista{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    line-height: 100px;
    color: #fff;
}

.caja{
    height: 100px;
    font-family: 'Work Sans', sans-serif;
    margin: 10px 0;
    background: #333;
    border-radius: 10px;
}

#caja0{
    background: #25ff2a;
}

#caja1{
    line-height: 50px
}

#caja2{
    line-height: 50px;
}

#caja5{
    background: #ff2e2e;
}
