*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.general{
    width: 86%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: #fe4;
    height: 2000px;
}
header{
    background: #dfdfdf;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-family: 'Potta One', cursive;
    font-size: 10%px;
}

#lista{
    background: #77f;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    line-height: 100px;
}

.caja{
    height: 100px;
    font-family: 'Work Sans', sans-serif;
    margin: 10px 0;
    background: #eee;
}

#caja1{
    line-height: 50px
}